<div class="cocktails">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail) do %>
      <div class="cocktail-card" style="background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(<%= cocktail.image_url %>)">
        <p><%= cocktail.name %></p>
      </div>
    <% end %>
  <% end %>
</div>
