// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cocktails {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;

  a {
    color: white;
    font-size: 1.8em;
    transition: 0.18s ease-in-out;

    &:hover {
      text-decoration: none;
      transform: scale(1.02);
    }
  }
}

.cocktail-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.cocktail-container {
  width: 60%;
  margin: 150px auto 0;
  padding: 32px;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 40px;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);

  h1 {
    margin-bottom: 32px;
  }

  .cocktail-info {
    display: flex;
    justify-content: space-between;

    h4 {
      margin-bottom: 16px;
    }

    .cocktail-details {
      display: flex;
      flex-direction: column;

      p {
        width: 90%;
      }
    }
  }
  .cocktail-controls {
    position: absolute;
    top: 32px;
    right: 32px;
  }

  .cocktail-ingredients {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 30%;
    flex-shrink: 0;
    position: relative;
    border-left: 1px solid rgba(0, 0, 0, 0.3);

    .ingredient-add {
      position: absolute;
      bottom: 0;
    }
  }
}

#new-cocktail-form {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
}

.hidden {
  display: none;
}
