// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cocktails {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  a {
    color: white;
    font-size: 1.8em;
    transition: .18s ease-in-out;
    &:hover {
      text-decoration: none;
      transform: scale(1.02);
    }
  }
}

.cocktail-image {
  width: 100vw;
  height: 300px;
  border-radius: 4px;
  object-fit: cover;
  // border: 1px solid red;
}

.cocktail-container {
  // border: 1px solid red;
  padding: 32px;
  display: flex;
  justify-content: space-between;

  .cocktail-info {
    // border: 1px solid blue;
    position: relative;
    padding: 20px;
    h1 {
      margin-bottom: 30px;
    }

    p {
      width: 85%;
    }

    .cocktail-controls {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  .ingredients-card {
    // border: 1px solid green;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-left: 20px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    h3 {
      margin-bottom: 16px;
    }
  }
}
