<div class="new-dose-card">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient, label: false, prompt: "Choose ingredient" %>
    <%= f.input :description, label: false, placeholder: "Amount" %>
    <%= f.button :submit, '+ add ingredient', class: 'btn-cocktail-sm' %>
  <% end %>
</div>
