.cocktail-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  border-radius: 2px;
  background-size: cover;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.new-cocktail-card {
  width: 50%;
  margin: 222px auto;
  padding: 60px 80px;
  text-align: center;
  background: white;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
}

.edit-cocktail-card {
  width: 50%;
  margin: 150px auto;
  padding: 60px 80px;
  text-align: center;
  background: white;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.new-dose-card {
  width: 50%;
  margin: 150px auto;
  padding: 60px 80px;
  text-align: center;
  background: white;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);

  h5 {
    margin-bottom: 32px;
  }
}
